In [340]:
import pandas as pd
import re
tags= pd.read_csv('tags.csv',header=0)
df_books = pd.read_csv('books.csv',header =0)
df_ratings = pd.read_csv('ratings.csv',header = 0)
df_booktags = pd.read_csv('book_tags.csv',header =0)
to_read_data = pd.read_csv('to_read.csv',header=0)

### Tags Data
###### This section deals with the tags data to extract the tags related to each book, and then use it as a variable in the books final dataset, which is created later

In [341]:
#extracting tags from the tag name column
tags['tag_cleaned']=tags['tag_name'].str.extract(r"([a-z].*)", expand=False)

In [342]:
tags.dtypes

tag_id          int64
tag_name       object
tag_cleaned    object
dtype: object

In [343]:
pd.set_option('display.max_rows',None)

In [366]:

#tags.groupby('new').count()[['tag_id']].sort_values(['tag_id'],ascending=False)

In [344]:
df_booktags = pd.read_csv('book_tags.csv',header =0)

In [345]:
df_booktags.head()

   book_id  tag_id   count
0        1   30574  167697
1        1   11305   37174
2        1   11557   34173
3        1    8717   12986
4        1   33114   12716

In [346]:
tags.head()

   tag_id tag_name tag_cleaned
0       0        -         NaN
1       1     --1-         NaN
2       2    --10-         NaN
3       3    --12-         NaN
4       4   --122-         NaN

In [347]:
#merge extracted tags with the booktags dataset containing tag ids only, to get the actual tag in words
tags_data = pd.merge(df_booktags, tags, how='left', on='tag_id')

In [348]:
tags_data.shape

(999912, 5)

In [349]:
tags_data = tags_data[['book_id','count','tag_id','tag_cleaned']]

In [350]:
df_booktags['book_id'].nunique()

10000

In [351]:
#selecting the tag with highest count of tags for each book
td=tags_data.sort_values(by=['book_id','count'],ascending=[1,0]).groupby('book_id').head(1)

In [352]:
td.head(100)

      book_id   count  tag_id        tag_cleaned
0           1  167697   30574            to-read
100         2   24549   30574            to-read
200         3  496107   30574            to-read
300         5   40087   11557          favorites
400         6   38378   11305            fantasy
500         8    2823   30574            to-read
600        10    3226   30574            to-read
700        11   32303   30574            to-read
800        13   75870   30574            to-read
900        21   33603   30574            to-read
1000       24    2312   31155             travel
1100       25     816   30574            to-read
1200       26   27858   30574            to-read
1300       27   31357   30574            to-read
1400       28   35420   30574            to-read
1500       29    5492   30574            to-read
1600       30     692   30574            to-read
1700       33  116442   30574            to-read
1800       34   31618   11305            fantasy
1900       36    3492   30574            to-read
2000       50    2212    8717  currently-reading
2100       67    8621   30574            to-read
2200       93   27829   30574            to-read
2300       98    1217   30574            to-read
2400      105    1356   26837    science-fiction
2500      106    1080   11743            fiction
2600      112    2762   26837    science-fiction
2700      117   12731   30574            to-read
2800      119    2949   30574            to-read
2900      122   29584   30574            to-read
3000      231    5250   30574            to-read
3100      249     449   30574            to-read
3200      250    1592   30574            to-read
3300      264    2632    7457           classics
3400      275   17593   30574            to-read
3500      291     161   30574            to-read
3600      295  108955   30574            to-read
3700      304     830    7457           classics
3800      320    5578    7457           classics
3900      343  107894   30574            to-read
4000      348     937   30574            to-read
4100      350    4665   26837    science-fiction
4200      353    8265   30574            to-read
4300      355    2841   30574            to-read
4400      357    8024   30574            to-read
4500      359    2651   30574            to-read
4600      360   25198   30574            to-read
4700      365    3562   30574            to-read
4800      378   55030   30574            to-read
4900      386     565   30574            to-read
5000      400    5798   30574            to-read
5100      415   24664   30574            to-read
5200      424    4161   30574            to-read
5300      428     445   30574            to-read
5400      431    3213   30574            to-read
5500      432    5159   30574            to-read
5600      446    6029   30574            to-read
5700      447     314    8717  currently-reading
5800      449    3880   30574            to-read
5900      456     484   30574            to-read
6000      475   52981   30574            to-read
6100      597   14205   30574            to-read
6200      599   12293   30574            to-read
6300      621    6392   30574            to-read
6400      629   15855   30574            to-read
6500      647    1602   30574            to-read
6600      656  271642   30574            to-read
6700      662   12653   30574            to-read
6800      665    9753   30574            to-read
6900      667    7047   30574            to-read
7000      668     529   30574            to-read
7100      676    9349   30574            to-read
7200      698    4108   30574            to-read
7300      703    7445   30574            to-read
7400      706   36492   30574            to-read
7500      760   19313   30574            to-read
7600      771    2944   26816            science
7700      816   48722   30574            to-read
7800      822    2695   30574            to-read
7900      823   18802   30574            to-read
8000      825    4142   30574            to-read
8100      827    5580   30574            to-read
8200      830    4409   30574            to-read
8300      840   16424   30574            to-read
8400      865  596234   30574            to-read
8500      870    2960   30574            to-read
8600      880    5809   30574            to-read
8700      890   19214    7457           classics
8800      900    7612   30574            to-read
8900      902   53759   30574            to-read
9000      903    8440   30574            to-read
9100      930  436097   30574            to-read
9200      952    1252   30574            to-read
9300      960   26678   30574            to-read
9400      968   13725   11743            fiction
9500      976   18861   30574            to-read
9600      998   37679   30574            to-read
9700     1005     816   30574            to-read
9800     1032    2216   30574            to-read
9900     1052   41683   30574            to-read

In [284]:
tags_data['goodreads_book_id'].count()

10000

### To Read Dataset
#### Using this dataset to get a count of how many times each book has been put in the to-read list

In [353]:
to_read_data.head()

   user_id  book_id
0        1      112
1        1      235
2        1      533
3        1     1198
4        1     1874

In [354]:
#final to-read dataset with counts for each book-id
trd=to_read_data.groupby('book_id').count()[['user_id']].reset_index()

In [355]:
trd.head()

   book_id  user_id
0        1      973
1        2      400
2        3      287
3        4     1478
4        5     1293

In [339]:
trd['book_id'].nunique()

9986

### Merging the datasets created above - tags data and to read data- with the books datatset to create a final dataset with all features

In [362]:
data_frames = [df_books,td[['tag_cleaned','book_id']],trd[['user_id','book_id']]]
from functools import reduce

In [363]:
book_data_final = reduce(lambda  left,right: pd.merge(left,right,on=['book_id'],
                                            how='left'), data_frames).fillna('void')

In [365]:
book_data_final.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_cleaned,user_id
0,1,2767052,2767052,2792775,272,439023483,9.78044e+12,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,favorites,void
1,2,3,3,4640799,491,439554934,9.78044e+12,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,to-read,287
2,3,41865,41865,3212258,226,316015849,9.78032e+12,Stephenie Meyer,2005,Twilight,"Twilight (Twilight, #1)",en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,young-adult,void
3,4,2657,2657,3275794,487,61120081,9.78006e+12,Harper Lee,1960,To Kill a Mockingbird,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,classics,50
4,5,4671,4671,245494,1356,743273567,9.78074e+12,F. Scott Fitzgerald,1925,The Great Gatsby,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,classics,48

In [367]:
book_data_final.shape

(10000, 25)